.footer {
    box-shadow: 0 0 10px rgba(240, 240, 240, 0.5) inset;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 10vh;
    background-color: rgba(240, 240, 240, 0.935);
    box-sizing: border-box;
    font-size: 1.5vh;
    padding: 1vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.timer {
    height: 30%;
    max-width: 500px;
}

.userInfo {
    height: 70%;
    width: 100%;
    max-width: 500px;
}